$light-blue:  #C7F7FF;
$med-blue:    #89C0C9;
$dark-blue:   #3a5E63;
$light-brown: #C9A689;
$dark-brown:  #7C593C;
$light-grey:  #d4d4d4;
$dark-grey:   #222;
$hex-white:   #fff;

$default-font-family: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$heading-font-family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$default-font-size: 16px;
$fs-1414: 1.414rem;
$fs-3998: 3.998rem;
$fs-1999: 1.999rem;
$fs-2827: 2.827rem;
$fs-1rem: 1rem;