// main SASS file
/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222
                DEFAULTS
***********************************************/
@import "variables", "mixins", "queries";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  font-size: $default-font-size;
  font-family: $default-font-family;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/

//.classForExtend {
//    background-color: blue; 
//}

.bg-header {
  background-color: $hex-white;
  background-color: $light-blue;
  color: $dark-grey;
  border-bottom: 1rem solid $med-blue;
  border-top: 1rem solid $dark-blue;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $dark-blue;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  background-color: $light-brown;
  color: $dark-brown;
}

.bg-content1 {
  background-color: $hex-white;
  color: $dark-grey;
}

.bg-content2 {
  background-color: $light-blue;
  color: $dark-blue;
}

.bg-footer {
  background-color: $hex-white;
  color: $light-grey;
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;
  h1 {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    width: 100%;
    > ul li {
      width: 100%;
      float: none;
    }
    }
}

section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }
  &.content1, &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid $dark-blue;
  margin-bottom: 2rem;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: 2rem 0;
  p:last-child {}
}

/***********************************************
                NAVIGATION
***********************************************/

header {
  nav {          
    padding: 2rem 0;
    clear: both;
    > ul > li > a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $dark-grey;
      font-size: $fs-1414;
      letter-spacing: 0.25rem;
      border: 1px solid $light-grey;
      border-bottom: none;
      padding: 1.0rem 2rem;
      line-height: 1;
      background-color: $hex-white;
      &:hover {
        font-weight: 700;
        color: $dark-brown;
      }
    }
  }
  h1 {
    color: $dark-brown;
    letter-spacing: 0.1rem;
    i.fa-lg {
      display: block;
      width: 25%;
      float: left;
      font-size: 7rem;
      line-height: 12.7936rem;
      color: $light-brown;
      ~ span {
        float: right;
        width: 75%;
        font-size: $fs-3998;
        /**
        2 lines of 3.998 * 1.6 = 12.7936
        **/
        padding-left: 1rem;
        text-align: right;
      }
    }
  }
}

/***********************************************
                CONTENT
***********************************************/

.focal {
  h2 {
    font-size: $fs-1999;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
  }
  .author {
    font-size: $fs-1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
    font-size: $fs-1999;
    padding: 0.2rem 2rem 2rem;
    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
  p {
    font-size: $fs-1414;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    font-size: $fs-1999;
    padding: 1rem 2rem 0.5rem;
  }
  h4 {
    font-size: $fs-1999;
    padding: 1rem 2rem 0rem;
  }
  p {
    font-size: $fs-1414;
    padding: 0.5rem 2rem 1rem;
  }
  li {
    padding: 0.5rem 2rem;
    font-size: $fs-1414;
  }
}

/***********************************************
                FOOTER
***********************************************/

footer {
  h4 {
    font-size: $fs-1414;
    padding: 0.5rem 2rem;
    color: $dark-brown;
  }
  p {
    font-size: $fs-1rem;
    padding: 0.5rem 2rem;
    color: $dark-grey;
  }
  .fa-circle {
    color: $dark-grey;
  }
  h4 {
    &[lang=de] {
      display: block;
    }
    &[lang=en], &[lang=ar], &[lang=ru] {
      display: none;
    }
  }
}

/***********************************************
                MEDIA QUERIES
***********************************************/
@include media-min-max(701px, 900px){
//@media all and (min-width: 701px) and (max-width: 900px) {
  header {
    width: 700px;
    margin: 0 auto;
    min-height: 8rem;
    h1 {
      width: 100%;
      color: $dark-brown;
    }
    &:before, &:after {
      width: 230px;
    }
    h1 i.fa-lg {
      display: inline;
      color: $dark-brown;
      vertical-align: baseline;
      float: none;
      font-size: 4rem;
      line-height: 6.3968rem;
      ~ span {
        float: none;
        letter-spacing: 0.25rem;
        font-size: $fs-3998;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
      }
    }
    nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0;
      > ul > li {
        width: 20%;
        float: left;
        > a {
          font-size: $fs-1rem;
          line-height: 2rem;
          min-height: 6rem;
          border: none;
          border-left: 1px solid $light-grey;
          padding: 1.0rem;
          background-color: $hex-white;
          &:last-child {
            border-right: 1px solid $light-grey;
          }
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      width: 700px;
      margin: 0 auto;
    }
  }
  footer {
//      @extend section
    width: 700px;
    margin: 0 auto;
  }
  .col-4 {
      
      /* ************************* Mixins **************************/
    width: 50%;
    float: left;
  }
  section.content2 {
    h4, li {
      font-size: $fs-1414;
    }
  }
  footer {
    .fa-circle {
      color: $med-blue;
    }
    .col-2:last-child {
      unicode-bidi: bidi-override;
      direction: rtl;
    }
    h4 {
      &[lang=ar] {
        display: block;
      }
      &[lang=de], &[lang=en], &[lang=ru] {
        display: none;
      }
    }
  }
}
@include media-min-max(901px, 1400px){
//@media all and (min-width: 901px) and (max-width: 1400px) {
  header {
    width: 900px;
    margin: 0 auto;
    &:before, &:after {
      width: 300px;
    }
    h1 {
      width: 100%;
      color: $dark-blue;
      i.fa-lg {
        display: inline;
        color: $dark-blue;
        vertical-align: baseline;
        float: none;
        font-size: 4rem;
        line-height: 6.3968rem;
        ~ span {
          float: none;
          letter-spacing: 0.25rem;
          font-size: $fs-3998;
          /**
          1 lines of 3.998 * 1.6 = 6.3968
          **/
          text-align: left;
        }
      }
    }
    nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0;
      > ul > li {
        width: 20%;
        float: left;
        background-color: $hex-white;
        > a {
          font-size: $fs-1rem;
          line-height: 2rem;
          min-height: 2rem;
          border: none;
          border-left: 1px solid $light-grey;
          padding: 0 1.0rem;
          margin: 1.0rem 0;
          background-color: $hex-white;
        }
        &:first-child a {
          border-left: none;
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      width: 900px;
      margin: 0 auto
    }
  }
  footer {
    width: 900px;
    margin: 0 auto;
  }
  section.focal {
    h2, p.author {
      width: 600px;
      margin: 0 auto;
    }
  }
    
  .col-3{
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(3, 5%);
  }
  .col-4 {
      @include equalSpaced(4, 4%);  
  }
  section {
    &.content1 h3 {
      font-size: $fs-1999;
      font-weight: 100;
      .fa-2x {
        font-size: $fs-1999;
        padding-right: 1rem;
      }
    }
    &.content2 {
      h4, li {
        font-size: $fs-1414;
      }
      p {
        font-size: $fs-1rem;
        font-weight: 400;
      }
    }
  }
  footer {
    .fa-circle {
      color: $light-brown;
    }
    h4 {
      &[lang=ru] {
        display: block;
      }
      &[lang=de], &[lang=ar], &[lang=en] {
        display: none;
      }
    }
  }
}
@include media-min(1401px){
//@media all and (min-width: 1401px) {
  header {
    width: 1400px;
    margin: 0 auto;
    &:before, &:after {
      width: 450px;
    }
    h1 {
      width: 100%;
      color: $dark-brown;
      i.fa-lg {
        display: inline;
        color: $dark-brown;
        vertical-align: baseline;
        float: none;
        font-size: 4rem;
        line-height: 6.3968rem;
        ~ span {
          float: none;
          letter-spacing: 0.25rem;
          font-size: $fs-3998;
          /**
          1 lines of 3.998 * 1.6 = 6.3968
          **/
          text-align: left;
        }
      }
    }
    nav {
      position: static;
      clear: both;
      width: 100%;
      padding: 0;
      > ul > li {
        width: 20%;
        float: left;
        background-color: $hex-white;
        > a {
          font-size: $fs-1414;
          line-height: 2rem;
          min-height: 2rem;
          border: none;
          border-left: 1px solid $light-grey;
          padding: 0 1.0rem;
          margin: 1.0rem 0;
          background-color: $hex-white;
        }
        &:first-child a {
          border-left: none;
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      width: 1400px;
      margin: 0 auto;
    }
  }
  footer {
    width: 1400px;
    margin: 0 auto;
  }
  section.focal {
    h2 {
      font-size: $fs-3998;
      width: 600px;
      margin: 0 auto;
    }
    p.author {
      width: 600px;
      margin: 0 auto;
    }
  }
  .col-3{
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(3, 5%);
  }
  .col-4 {
    @include equalSpaced(4, 4%);    
  }
  section {
    &.content1 h3 {
      font-size: $fs-2827;
      font-weight: 100;
      .fa-2x {
        font-size: $fs-2827;
        padding-right: 1rem;
        vertical-align: middle;
      }
    }
    &.content2 {
      h4, li {
        font-size: $fs-1999;
      }
      p {
        font-size: $fs-1414;
        font-weight: 400;
      }
    }
  }
  footer {
    p {
      font-size: $fs-1414;
      letter-spacing: 0.2rem;
      &:last-child {
        color: $light-grey;
      }
    }
    .fa-circle {
      color: $med-blue;
    }
    h4 {
      &[lang=en] {
        display: block;
      }
      &[lang=de], &[lang=ar], &[lang=ru] {
        display: none;
      }
    }
  }
}